* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #121214;
  height: 15vh;
  position: absolute;
  width: 100%;
}

body {
  background-color: rgb(82, 86, 89);
  font-family: "Gotham", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #aeea0a;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-grid-postal {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  column-gap: 0.8rem;
  width: 100%;
}

.display-grid-endereco {
  display: grid;
  grid-template-columns: 0.3fr 1.2fr;
  column-gap: 0.8rem;
  width: 100%;
}

.display-grid-local {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  column-gap: 0.8rem;
  width: 100%;
}

#form {
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 100%;
  margin-top: 8rem;
}

input,
select {
  border: none;
  border-radius: 0.25rem;
  padding: 0.8rem;
  width: 100%;
}

.input-data {
  margin-top: 0.8rem;
}

.input-data.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-salvar {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0.625rem;
  background: #aeea0a;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;

  cursor: pointer;

  opacity: 0.8;
}

.btn-salvar:hover {
  background: #bfff05;
}

#table {
  width: 100%;
  border-spacing: 0 0.5rem;
  margin-top: 5rem;
}

table th {
  background: #2e2e2e;
  font-weight: 700;
  color: #aeea0a;
  padding: 1rem 2rem;
  text-align: left;

  opacity: 0.7;
}

table td {
  background: #fff;
  color: #2e2e2e;
  padding: 1rem 2rem;
}

table tbody tr {
  opacity: 0.8;
}

table tbody tr:hover {
  opacity: 1;
  transition: 300ms;
}

footer {
  background: #2e2e2e;
  position: absolute;
  grid-row-start: 2;
  grid-row-end: 3;
  min-width: 100%;
  text-align: center;
  margin-top: 3em;
  padding: 2rem 0 2rem;
  color: #fff;
}

p {
  margin-top: 0.3rem;
}

a {
  color: #aeea0a;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 299px) and (max-width: 800px) {
  footer {
    position: absolute;
    text-align: center;
    width: 100%;

    opacity: 0.6;
  }

  .display-flex {
    display: flex;
    margin: 0 2rem 2rem 2rem;
  }
}
